body{
    background-color: grey;
    padding-top: 50px;
    text-align: center;
}

.card{
   
    border-radius: 10px;
    margin: auto;
    padding: 30px;
    background-color: white;
    width: 250px;
    height: 380px;
  }

  h3{
    margin: auto;
  }

  .img1 {
    border-radius: 50px;
    width: 20%;
  }
.img2{
    padding-top: 5px;
    padding-right: 20px;
    width: 25px;
  }
  .img3{
    padding-top: 5px;
    padding-left: 10px;
    width: 25px;
  }
  .img4{
    padding-top: 5px;
    padding-left: 30px;
    width: 25px;
  }
  